/* --- RESET --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --- ROOT VARIABLES --- */
:root {
  --clr-bg: #121118;
  --clr-lightGrey: #24232c;
  --clr-strongGrey: #18171f;
  --clr-txt-primary: #e6e5ea;
  --clr-txt-secondary: #817d92;
  --clr-accent: #a4ffaf;
  --clr-warning: #fb7c58;
  --clr-negative: #f64a4a;
  --font: "JetBrains Mono", monospace;
  --inspect: solid red 1px;
  --transition: 250ms ease;
}

/* --- MAIN CSS --- */
body {
  min-height: 100vh;
  font-family: var(--font);
  background-color: var(--clr-bg);
  display: grid;
  place-items: center;
}

main {
  border: var(--inspect);
  width: 100vw;
  max-width: 540px;
}

.heading-large {
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}

.heading-medium {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.body-txt {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  color: var(--clr-txt-primary);
}

/* --- HEADER --- */
h1 {
  color: var(--clr-txt-secondary);
  text-align: center;
}

/* OUTPUT COMPONENT */
.output-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0 25px 0;
  padding: 25px 35px;
  background-color: var(--clr-lightGrey);

  .output {
    color: var(--clr-txt-primary);
  }

  .clipboard-btn {
    color: var(--clr-accent);
    font-size: 24px;
    height: fit-content;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

/* --- FORM COMPONENT --- */
form {
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
      text-transform: capitalize;
    }
    .length-output {
      color: var(--clr-accent);
    }
  }
}

/* --- MOBILE RESPONSIVE --- */
@media screen and (max-width: 450px) {
  /* some class */
}
