/* Container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide browser default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: solid var(--clr-txt-primary) 2px;
  transition: var(--transition);
}

/* Hover checkbox */
.container:hover input ~ .checkmark {
  border: solid var(--clr-accent) 2px;
}

/* Checked checkbox */
.container input:checked ~ .checkmark {
  background-color: var(--clr-accent);
  border: solid var(--clr-accent) 2px;
}

/* Checkmark hide on inactive */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show checkmark if checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Checkmark styles */
.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid var(--clr-strongGrey);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.txt-label {
  position: absolute;
  left: 45px;
  text-transform: capitalize;
}
