@import url(./slider-style.css);
@import url(./checkbox-style.css);

/* --- RESET --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --- ROOT VARIABLES --- */
:root {
  --clr-bg: #121118;
  --clr-lightGrey: #24232c;
  --clr-strongGrey: #18171f;
  --clr-txt-primary: #e6e5ea;
  --clr-txt-secondary: #817d92;
  --clr-accent: #a4ffaf;
  --clr-warning: #f8cd65;
  --clr-negative: #f64a4a;
  --font: "JetBrains Mono", monospace;
  --inspect: solid red 1px;
  --transition: 250ms ease;
}

/* --- MAIN CSS --- */
body {
  min-height: 100vh;
  font-family: var(--font);
  background-color: var(--clr-bg);
  display: grid;
  place-items: center;
}

main {
  width: 95vw;
  max-width: 540px;
}

.heading-large {
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}

.heading-medium {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.body-txt {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  color: var(--clr-txt-primary);
}

/* --- HEADER --- */
h1 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: var(--clr-txt-secondary);
  text-align: center;

  @media screen and (max-width: 450px) {
    font-size: 16px;
  }
}

/* OUTPUT COMPONENT */
.output-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0 25px 0;
  padding: 25px 35px;
  background-color: var(--clr-lightGrey);

  .output {
    color: var(--clr-txt-secondary);
  }

  .clipboard-btn {
    color: var(--clr-accent);
    font-size: 24px;
    height: fit-content;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      color: var(--clr-txt-primary);
      transform: scale(1.1);
    }
  }

  @media screen and (max-width: 510px) {
    margin: 20px 0 15px 0;
    padding: 22px 15px;

    .output {
      font-size: 24px;
      line-height: 31px;
    }
  }

  @media screen and (max-width: 360px) {
    flex-direction: column;
    gap: 10px;
  }
}

/* --- FORM COMPONENT --- */
form {
  padding: 25px 35px;
  background-color: var(--clr-lightGrey);
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media screen and (max-width: 450px) {
    padding: 22px 15px;
    gap: 20px;
  }

  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
      text-transform: capitalize;
    }
    .length-output {
      color: var(--clr-accent);
    }

    @media screen and (max-width: 450px) {
      & h2 {
        font-size: 16px;
      }
      .length-output {
        font-size: 24px;
        line-height: 31px;
      }
    }
  }

  .options-container {
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 45px;

    @media screen and (max-width: 450px) {
      margin-top: 20px;
      gap: 40px;
    }
  }

  .strength-container {
    padding: 25px 35px;
    background-color: var(--clr-strongGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 450px) {
      padding: 22px 15px;
    }

    & p {
      color: var(--clr-txt-secondary);
      text-transform: uppercase;

      @media screen and (max-width: 450px) {
        font-size: 16px;
      }
    }

    .meter-container {
      display: flex;
      align-items: center;

      & h3 {
        margin-right: 10px;
        color: var(--clr-txt-primary);
        text-transform: uppercase;

        @media screen and (max-width: 450px) {
          margin-right: 2px;
        }
      }

      .led {
        margin-left: 8px;
        width: 10px;
        height: 28px;
        border: solid var(--clr-txt-primary) 2px;
      }

      /* --- Inner Meter Colors --- */
      .weak {
        background-color: var(--clr-negative);
        border: solid var(--clr-negative) 2px;
      }
      .medium {
        background-color: var(--clr-warning);
        border: solid var(--clr-warning) 2px;
      }
      .strong {
        background-color: var(--clr-accent);
        border: solid var(--clr-accent) 2px;
      }
    }
  }

  .submit-btn {
    width: 100%;
    padding: 23px 0;
    text-transform: uppercase;
    color: var(--clr-strongGrey);
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--clr-accent);
    border: solid var(--clr-accent) 2px;
    cursor: pointer;
    transition: var(--transition);

    .fa-arrow-right {
      margin-left: 20px;
    }

    &:hover {
      color: var(--clr-accent);
      background-color: transparent;
    }
  }
}
